In [ ]:
# --- 02_exploracion_inicial_df.ipynb ---

# Objetivo: Realizar una primera inspección del dataset del Titanic.

# 1. Importar librerías necesarias
import pandas as pd

# 2. Cargar el dataset del Titanic (usando la URL de GitHub que ya funciona)
# ¡Asegúrate de que esta URL es la que ya te funciona y apunta a tu titanic_train.csv en GitHub!
github_csv_url = 'https://raw.githubusercontent.com/mortemj/curso-ml/main/Fase_02/M2.1_Explorar/titanic_train.csv'

try:
    df_titanic = pd.read_csv(github_csv_url)
    print("Dataset del Titanic cargado exitosamente para exploración.")

    # --- Primeras Vistas del Dataset ---

    print("\n--- 2.1: Primeras 5 filas del DataFrame (df.head()) ---")
    print("Esto nos muestra las primeras entradas y nos da una idea rápida de las columnas.")
    print(df_titanic.head())

    print("\n--- 2.2: Últimas 5 filas del DataFrame (df.tail()) ---")
    print("Útil para ver si hay datos atípicos o formatos diferentes al final.")
    print(df_titanic.tail())

    print("\n--- 2.3: Una muestra aleatoria del DataFrame (df.sample(5)) ---")
    print("Una buena forma de ver datos 'representativos' sin enfocarse en los extremos.")
    print(df_titanic.sample(5)) # Muestra 5 filas al azar

    print("\n--- 2.4: Dimensiones del DataFrame (df.shape) ---")
    print("Nos indica el número de filas (registros) y columnas (características).")
    print(f"Filas, Columnas: {df_titanic.shape}")

    print("\n--- 2.5: Nombres de las columnas (df.columns) ---")
    print("Lista todos los nombres de las características disponibles.")
    print(df_titanic.columns)

    print("\n--- 2.6: Información concisa del DataFrame (df.info()) ---")
    print("Fundamental para ver tipos de datos, conteo de valores no nulos y uso de memoria.")
    df_titanic.info() # No uses print() con .info() porque ya lo imprime por sí mismo

    print("\n--- 2.7: Estadísticas descriptivas de columnas numéricas (df.describe()) ---")
    print("Proporciona un resumen estadístico (media, desviación estándar, min, max, cuartiles) de las columnas numéricas.")
    print(df_titanic.describe())

    print("\n--- 2.8: Estadísticas descriptivas de columnas categóricas (df.describe(include='object')) ---")
    print("Útil para columnas de texto: cuenta valores únicos, valor más frecuente, etc.")
    print(df_titanic.describe(include='object'))

    print("\n--- 2.9: Conteo de valores únicos por columna (df.nunique()) ---")
    print("Nos dice cuántos valores diferentes hay en cada columna.")
    print(df_titanic.nunique())

except Exception as e:
    print(f"Error al cargar o inspeccionar el dataset: {e}")
    print("Asegúrate de que la URL en 'github_csv_url' es correcta y que el archivo CSV es accesible.")

Dataset del Titanic cargado exitosamente para exploración.

--- 2.1: Primeras 5 filas del DataFrame (df.head()) ---
Esto nos muestra las primeras entradas y nos da una idea rápida de las columnas.
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

--- 2.2: Últimas 5 filas del DataFrame (df.tail()) ---
Útil para ver si hay datos atípicos o formatos diferentes al final.
     PassengerId  Survived  Pclass                                      Name  \
886          887         0       2                     Montvila, Rev. Juozas
887          888         1       1              Graham, Miss. Margaret Edith
888          889         0       3  Johnston, Miss. Catherine Helen "Carrie"
889          890         1       1                     Behr, Mr. Karl Howell
890          891         0       3                       Dooley, Mr. Patrick

        Sex   Age  SibSp  Parch      Ticket   Fare Cabin Embarked
886    male  27.0      0      0      211536  13.00   NaN        S
887  female  19.0      0      0      112053  30.00   B42        S
888  female   NaN      1      2  W./C. 6607  23.45   NaN        S
889    male  26.0      0      0      111369  30.00  C148        C
890    male  32.0      0      0      370376   7.75   NaN        Q

--- 2.3: Una muestra aleatoria del DataFrame (df.sample(5)) ---
Una buena forma de ver datos 'representativos' sin enfocarse en los extremos.
     PassengerId  Survived  Pclass                               Name     Sex  \
841          842         0       2           Mudd, Mr. Thomas Charles    male
124          125         0       1        White, Mr. Percival Wayland    male
627          628         1       1      Longley, Miss. Gretchen Fiske  female
690          691         1       1            Dick, Mr. Albert Adrian    male
359          360         1       3  Mockler, Miss. Helen Mary "Ellie"  female

      Age  SibSp  Parch       Ticket     Fare Cabin Embarked
841  16.0      0      0  S.O./P.P. 3  10.5000   NaN        S
124  54.0      0      1        35281  77.2875   D26        S
627  21.0      0      0        13502  77.9583    D9        S
690  31.0      1      0        17474  57.0000   B20        S
359   NaN      0      0       330980   7.8792   NaN        Q

--- 2.4: Dimensiones del DataFrame (df.shape) ---
Nos indica el número de filas (registros) y columnas (características).
Filas, Columnas: (891, 12)

--- 2.5: Nombres de las columnas (df.columns) ---
Lista todos los nombres de las características disponibles.
Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

--- 2.6: Información concisa del DataFrame (df.info()) ---
Fundamental para ver tipos de datos, conteo de valores no nulos y uso de memoria.
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

--- 2.7: Estadísticas descriptivas de columnas numéricas (df.describe()) ---
Proporciona un resumen estadístico (media, desviación estándar, min, max, cuartiles) de las columnas numéricas.
       PassengerId    Survived      Pclass         Age       SibSp  \
count   891.000000  891.000000  891.000000  714.000000  891.000000
mean    446.000000    0.383838    2.308642   29.699118    0.523008
std     257.353842    0.486592    0.836071   14.526497    1.102743
min       1.000000    0.000000    1.000000    0.420000    0.000000
25%     223.500000    0.000000    2.000000   20.125000    0.000000
50%     446.000000    0.000000    3.000000   28.000000    0.000000
75%     668.500000    1.000000    3.000000   38.000000    1.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000

            Parch        Fare
count  891.000000  891.000000
mean     0.381594   32.204208
std      0.806057   49.693429
min      0.000000    0.000000
25%      0.000000    7.910400
50%      0.000000   14.454200
75%      0.000000   31.000000
max      6.000000  512.329200

--- 2.8: Estadísticas descriptivas de columnas categóricas (df.describe(include='object')) ---
Útil para columnas de texto: cuenta valores únicos, valor más frecuente, etc.
                       Name   Sex  Ticket Cabin Embarked
count                   891   891     891   204      889
unique                  891     2     681   147        3
top     Dooley, Mr. Patrick  male  347082    G6        S
freq                      1   577       7     4      644

--- 2.9: Conteo de valores únicos por columna (df.nunique()) ---
Nos dice cuántos valores diferentes hay en cada columna.
PassengerId    891
Survived         2
Pclass           3
Name           891
Sex              2
Age             88
SibSp            7
Parch            7
Ticket         681
Fare           248
Cabin          147
Embarked         3
dtype: int64